.dialog-pane{
    -fx-background-color: #33455c;
    -fx-font-size: 14px;
}


.dialog-pane .header-panel{
    -fx-background-color: #ffd700;
}

.alert.confirmation.dialog-pane {
    -fx-graphic: url("images/new_crown.png");
}

.button {
    -fx-text-fill: black;
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-fit-to-height: true;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
    -fx-font-size: 150%;
    -fx-alignment: center;
}
.button:pressed{
    -fx-background-color: rgba(97, 97, 98,0.8);
}

.dialog-pane.header-panel .label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255,255,255,1.0);
}
