TextFlow > Text {
    -fx-fill: rgba(255,255,255,1);
    -fx-font-size: 14px;
    -fx-opacity: 1;
}
.text-input{
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-opacity: 1;
}
#verlauf{
    -fx-text-fill: rgba(255,255,255,1);
}
#coinflip >Text {
    -fx-fill: rgba(143, 217, 134,1);
}

#roll >Text{
    -fx-fill: rgba(91, 199, 245,1);
}

#eingabe{
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-opacity: 0.8;
    -fx-font-size: 12px;
    -fx-text-fill: rgba(255,255,255,1);
}
#emoji{
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-text-fill: rgba(255,255,255,1);
}

.text-input, .button {
    -fx-background-color: rgba(160, 158, 158, 0.9);
    -fx-control-inner-background: rgba(0,0,0,0.9);
    }


.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 8.0 0.0 0.0;


}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;

}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;

}


.scroll-bar:vertical .thumb {

    -fx-background-color :derive(black,50%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;

}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(black,10.0%);
    -fx-background-radius : 2.0em;
}

.popup {
    -fx-border-color: none;
}