.button {
    -fx-text-fill: black;
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-fit-to-height: true;
    -fx-pref-height: 30px;
    -fx-pref-width: 140px;
    -fx-font-size: 150%;
    -fx-alignment: center;
}
.button:pressed{
    -fx-background-color: rgba(97, 97, 98,0.8);
}
.HBox{
    -fx-alignment: left;
}
.VBox{
    -fx-alignment: left;
}
.label{
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}
.BorderPane {
    -fx-alignment: center;
}

.combo-box, .text-input, .slider .track {
    -fx-background-color: rgba(160, 158, 158, 0.4);
    -fx-control-inner-background: rgba(0,0,0,0.4);
    -fx-font-size: 100%;
    -fx-font-weight: bold;
}
#Tab{
    -fx-effect: dropshadow( gaussian , gold ,10 ,0.3 ,0 ,0 );
}
#status{

    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#MMcenter > .label,
{
    -fx-text-fill:white;
}


#MMcenter {
    -fx-padding:30px;
}


##MMtop > .label
{
    -fx-text-fill:white;

}
