.button {
    -fx-text-fill: black;
    -fx-background-color: lightgray;
    -fx-fit-to-height: true;
    -fx-pref-height: 30px;
    -fx-pref-width: 140px;
    -fx-font-size: 150%;
}
.list-cell {
    -fx-font-family: "Ink Free";
       -fx-highlight-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 0.8;
    -fx-focus-traversable: false;


}
.list-cell.odd{
    -fx-background-color:transparent ;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.list-cell:filled:selected{
    -fx-font-family: "Ink Free";
    -fx-highlight-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 0.8;
    -fx-focus-traversable: false;
}
.list-view{
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-text-fill: white;
    -fx-focus-traversable:false ;
    -fx-font-family: "Ink Free";
    -fx-background-image: url("oberflaeche.jpg");

}
.HBox{
    -fx-alignment: Center;
    -fx-fit-to-height: true;
    -fx-fill-width: true;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.VBox{
    -fx-fit-to-width: true;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.label{

    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-family:"Script MT Bold";
    -fx-font-weight: bold;
    -fx-opacity: 0.8;


}
.BorderPane{
    -fx-border-color: transparent;
}


