.button {
    -fx-text-fill: black;
    -fx-background-color: lightgray;
    -fx-fit-to-height: true;
    -fx-pref-height: 30px;
    -fx-pref-width: 140px;
    -fx-font-size: 150%;
    -fx-alignment: center;
}

.HBox{
    -fx-alignment: left;
}
.VBox{
    -fx-alignment: left;
}
.label{
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}
.BorderPane {
    -fx-alignment: center;
}



