.button {
    -fx-text-fill: black;
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-fit-to-height: true;
    -fx-pref-height: 30px;
    -fx-pref-width: 140px;
    -fx-font-size: 150%;
    -fx-alignment: center;
}

.HBox{
    -fx-alignment: left;
}
.VBox{
    -fx-alignment: left;
}
.label{
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}
.BorderPane {
    -fx-alignment: center;
}

.combo-box, .text-input, .slider .track {
    -fx-background-color:rgba(255,255,255,0.4);
    -fx-control-inner-background: rgba(255,255,255,0.4);
}

#MMcenter > .label,
{
    -fx-text-fill:white;
}


#MMcenter {
    -fx-padding:50px;
}


##MMtop > .label
{
    -fx-text-fill:white;

}